<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a3ed6a32-adcd-4b34-ae6c-ba1b61645be0/resourceGroups/rg-mvp1-2/providers/Microsoft.Web/sites/gait-test</ResourceId>
    <ResourceGroup>rg-mvp1-2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gait-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e34c5921-b04e-4459-9e54-b5784579b4da</ProjectGuid>
    <PublishUrl>https://gait-test.scm.azurewebsites.net/</PublishUrl>
    <UserName>$gait-test</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>